@charset "UTF-8";

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.15;
    text-align: left;
    color: #303133;
    background-color: #fff;
}

[v-cloak] {
    display: none;
}

.el-table th {
    color: #303133;
    background-color: #fff;
}

.el-pagination {
    margin-top: 15px;
    text-align: right;
}

.aui-button--dashed {
    border-style: dashed;
    background-color: transparent;
}

.aui-button--dashed:focus, .aui-button--dashed:hover {
    background-color: transparent;
}

.aui-brand {
    font-size: 22px;
    font-weight: 500;
}

.aui-intro {
    padding: 0;
    margin: 0;
    list-style: none;
}

.aui-intro > li {
    font-size: 16px;
    line-height: 1.5;
    color: #909399;
}

.aui-intro > li + li {
    margin-top: 5px;
}

.aui-shortcut {
    margin-bottom: 15px;
}

.aui-shortcut__title {
    position: relative;
    margin: 0 0 15px;
    font-weight: 400;
}

.aui-shortcut__title::before {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    content: "";
    height: 1px;
    margin-top: -.5px;
    background-color: #dcdfe6;
    overflow: hidden;
}

.aui-shortcut__title > span {
    position: relative;
    z-index: 2;
    padding: 0 20px;
    color: #c0c4cc;
    background-color: #fff;
}

.aui-shortcut__list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}

.aui-shortcut__list > li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 28px;
}


/* -------------------------- login --------------------------*/

.aui-page.page-login {
    height: 100vh;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: auto;
}

.aui-page.page-login::before, .aui-page.page-login::after {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: "";
}

.aui-page.page-login::before {
    background-image: url(../images/login_bg.jpg);
    background-size: cover;
}

.aui-page.page-login::after {
    background-color: rgba(38, 50, 56, 0.6);
}

.aui-page.page-login .login-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 20px 150px;
    text-align: center;
}

.aui-page.page-login .aui-page-header {
    padding: 15px;
    color: #fff;
}

.aui-page.page-login .aui-brand {
    margin: 0 0 15px;
    font-size: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.aui-page.page-login .aui-page-main {
    width: 420px;
    padding: 15px 30px;
    background-color: #fff;
}

.aui-page.page-login .lgoin-title {
    font-size: 18px;
    font-weight: normal;
}

.aui-page.page-login .el-input__prefix .el-input__icon {
    display: inherit;
    font-size: 16px;
    line-height: 1.15;
}

.aui-page.page-login .login-captcha {
    height: 36px;
    overflow: hidden;
}

.aui-page.page-login .login-captcha > img {
    max-width: 100%;
    cursor: pointer;
}

.aui-page.page-login .login-guide {
    margin: 20px 0;
    color: #c0c4cc;
}

.aui-page.page-login .aui-page-footer {
    position: absolute;
    bottom: 0;
    padding: 15px;
    color: #909399;
}

.aui-page.page-login .aui-page-footer p {
    margin: 10px 0;
}

.aui-page.page-login .aui-page-footer a {
    padding: 0 5px;
}

.aui-page.page-login--right-vertical .login-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
}

.aui-page.page-login--right-vertical .aui-page-header {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 120px;
    text-align: left;
}

.aui-page.page-login--right-vertical .aui-page-main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 120px 30px 150px;
    text-align: center;
}

.aui-page.page-login--right-vertical .login-guide {
    margin-top: 0;
}

.aui-page.page-login--right-vertical .aui-page-footer {
    right: 0;
    width: 420px;
}


/* -------------------------- layout --------------------------*/
.aui-wrapper {
    position: relative;
    min-height: 100vh;
    padding-top: 50px;
    overflow: hidden;
}

.aui-main {
    position: relative;
    min-height: calc(100vh - 50px - 56px);
    margin-left: 230px;
    background-color: #f1f4f5;
    -webkit-transition: margin-right .3s, margin-left .3s;
    transition: margin-right .3s, margin-left .3s;
}

.aui-main__hd {
    padding: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

.aui-main__bd {
    padding: 15px;
}

.aui-footer {
    position: relative;
    height: 56px;
    padding: 10px 15px;
    margin-left: 230px;
    text-align: center;
    -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05);
    color: #909399;
    -webkit-transition: margin-right .3s, margin-left .3s;
    transition: margin-right .3s, margin-left .3s;
}

.aui-footer p {
    margin: 10px 0;
}

.aui-footer a {
    padding: 0 5px;
}

/* -------------------------- header --------------------------*/
.aui-brand {
    font-size: 22px;
    font-weight: 500;
}

.aui-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    padding-left: 230px;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: padding-left .3s;
    transition: padding-left .3s;
}

.aui-header .aui-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 230px;
    height: 100%;
    padding: 5px;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: width .3s;
    transition: width .3s;
}

.aui-header .aui-brand--sm {
    display: none;
}

.aui-header__bd {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: auto;
    background-color: #fff;
    -webkit-transition: margin-left .3s;
    transition: margin-left .3s;
}

.aui-header__menu.el-menu {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: transparent;
    border-bottom: 0 !important;
}

.aui-header__menu.el-menu .el-submenu {
    position: relative;
}

.aui-header__menu.el-menu > .el-menu-item,
.aui-header__menu.el-menu > .el-submenu > .el-submenu__title {
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
}

.aui-header__menu.el-menu .el-menu-item,
.aui-header__menu.el-menu .el-menu-item.is-active,
.aui-header__menu.el-menu .el-submenu .el-submenu__title,
.aui-header__menu.el-menu .el-submenu.is-active .el-submenu__title,
.aui-header__menu.el-menu .el-submenu:focus .el-submenu__title {
    border-bottom: 0 !important;
    color: #606266;
    -webkit-transition: none;
    transition: none;
}

.aui-header__menu.el-menu .el-submenu > .el-menu--horizontal {
    position: absolute !important;
}

.aui-header__menu.el-menu > .el-submenu > .el-menu--horizontal {
    left: 0 !important;
}

.aui-header__menu.el-menu > .el-submenu > .el-menu--horizontal,
.aui-header__menu.el-menu > .el-submenu > .el-menu--horizontal > .el-menu,
.aui-header__menu.el-menu > .el-submenu > .el-menu--horizontal > .el-menu > .el-menu-item {
    min-width: 100%;
}

.aui-header__menu.el-menu > .el-menu-item > a,
.aui-header__menu.el-menu > .el-submenu .el-submenu__title > a {
    display: inline-block;
    font-size: 16px;
}

.aui-header__menu.el-menu .el-menu-item *,
.aui-header__menu.el-menu .el-submenu .el-submenu__title * {
    vertical-align: initial;
}

.aui-header__menu.el-menu .el-menu-item i,
.aui-header__menu.el-menu .el-submenu .el-submenu__title i {
    display: inline-block;
    vertical-align: middle;
    color: inherit;
}

.aui-header__menu.el-menu > .el-submenu.not-arrow > .el-submenu__title > .el-submenu__icon-arrow {
    display: none;
}

.aui-header__menu.el-menu .aui-header__icon-menu {
    font-size: 16px;
    vertical-align: middle;
}
.aui-header .aui-avatar {
    width: 38px;
    height: auto;
    margin-right: 5px;
    border-radius: 100%;
    vertical-align: middle !important;
}

.aui-header__menu--right {
    margin-left: auto;
}

.aui-header__menu--right.el-menu .el-submenu > .el-menu--horizontal {
    right: 0 !important;
    left: initial !important;
}

.aui-header__menu--right.el-menu .el-submenu > .el-menu--horizontal .el-menu--horizontal {
    right: 100% !important;
    left: initial !important;
}

.aui-header__menu--right.el-menu .el-submenu > .el-menu--horizontal .el-menu--horizontal .el-menu {
    margin-left: -5px;
    margin-right: 5px;
}

.aui-header--colorful .aui-header {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.aui-header--colorful .aui-header__menu.el-menu .el-menu-item,
.aui-header--colorful .aui-header__menu.el-menu .el-menu-item.is-active,
.aui-header--colorful .aui-header__menu.el-menu .el-submenu .el-submenu__title,
.aui-header--colorful .aui-header__menu.el-menu .el-submenu.is-active .el-submenu__title,
.aui-header--colorful .aui-header__menu.el-menu .el-submenu:focus .el-submenu__title {
    color: #fff;
}

.aui-header--colorful .aui-header__menu.el-menu .el-menu-item:focus,
.aui-header--colorful .aui-header__menu.el-menu .el-menu-item.is-active:focus,
.aui-header--colorful .aui-header__menu.el-menu .el-submenu .el-submenu__title:focus,
.aui-header--colorful .aui-header__menu.el-menu .el-submenu.is-active .el-submenu__title:focus,
.aui-header--colorful .aui-header__menu.el-menu .el-submenu:focus .el-submenu__title:focus {
    background-color: transparent;
}

.aui-header--colorful .aui-header__menu.el-menu > .el-menu-item > .el-button,
.aui-header--colorful .aui-header__menu.el-menu > .el-submenu > .el-submenu__title > .el-button {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}

.aui-header--colorful .aui-search__input .el-input-group__prepend,
.aui-header--colorful .aui-search__input .el-input__inner {
    color: #fff;
    border-color: #fff;
}

.aui-header--colorful .aui-search__input .el-input__suffix i {
    color: #fff;
}

.aui-header--fixed .aui-header {
    position: fixed;
}



/* -------------------------- aui-aside --------------------------*/
.aui-aside {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1020;
    width: 230px;
    -webkit-box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.05);
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    overflow: hidden;
    -webkit-transition: right .3s, width .3s;
    transition: right .3s, width .3s;
}

.aui-aside__inner {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 100%;
    padding-bottom: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-transition: width .3s;
    transition: width .3s;
}

.aui-aside__menu.el-menu {
    width: 230px;
    border-right: 0;
    -webkit-transition: width .3s;
    transition: width .3s;
}

.aui-aside__menu.el-menu .el-submenu {
    position: relative;
}

.aui-aside__menu.el-menu .el-menu-item,
.aui-aside__menu.el-menu .el-submenu .el-submenu__title {
    height: 40px;
    line-height: 40px;
    color: #606266;
    background-color: transparent;
}

.aui-aside__menu.el-menu .el-menu-item i,
.aui-aside__menu.el-menu .el-submenu .el-submenu__title i {
    color: inherit;
}

.aui-aside__menu.el-menu .el-submenu .el-menu--vertical {
    position: fixed !important;
}

.aui-aside__menu.el-menu .el-submenu__icon-arrow {
    margin-top: -6px;
}

.aui-aside__menu-icon {
    display: inline-block;
    vertical-align: middle !important;
    width: 16px;
    margin-right: 5px;
    text-align: center;
    font-size: 16px;
    color: inherit;
    -webkit-transition: font-size .3s;
    transition: font-size .3s;
}

.aui-aside--dark .aui-aside,
.aui-aside--dark.aui-aside--top .aui-aside {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.aui-aside--dark .aui-aside,
.aui-aside--dark .aui-aside__menu.el-menu,
.aui-aside--dark .aui-aside__menu.el-menu .el-menu,
.aui-aside--dark.aui-aside--top .aui-aside,
.aui-aside--dark.aui-aside--top .aui-aside__menu.el-menu,
.aui-aside--dark.aui-aside--top .aui-aside__menu.el-menu .el-menu {
    background-color: #263238;
}

.aui-aside--dark .aui-aside__menu.el-menu .el-menu-item,
.aui-aside--dark .aui-aside__menu.el-menu .el-submenu .el-submenu__title,
.aui-aside--dark.aui-aside--top .aui-aside__menu.el-menu .el-menu-item,
.aui-aside--dark.aui-aside--top .aui-aside__menu.el-menu .el-submenu .el-submenu__title {
    color: #8a979e;
}

.aui-aside--dark .aui-aside__menu.el-menu .el-menu-item:hover,
.aui-aside--dark .aui-aside__menu.el-menu .el-submenu .el-submenu__title:hover,
.aui-aside--dark.aui-aside--top .aui-aside__menu.el-menu .el-menu-item:hover,
.aui-aside--dark.aui-aside--top .aui-aside__menu.el-menu .el-submenu .el-submenu__title:hover {
    color: #fff;
}

.aui-aside--dark .aui-aside__menu.el-menu .el-menu-item.is-active,
.aui-aside--dark .aui-aside__menu.el-menu .el-submenu.is-active,
.aui-aside--dark .aui-aside__menu.el-menu .el-submenu.is-active .el-menu,
.aui-aside--dark .aui-aside__menu.el-menu .el-submenu.is-opened,
.aui-aside--dark .aui-aside__menu.el-menu .el-submenu.is-opened .el-menu,
.aui-aside--dark.aui-aside--top .aui-aside__menu.el-menu .el-menu-item.is-active,
.aui-aside--dark.aui-aside--top .aui-aside__menu.el-menu .el-submenu.is-active,
.aui-aside--dark.aui-aside--top .aui-aside__menu.el-menu .el-submenu.is-active .el-menu,
.aui-aside--dark.aui-aside--top .aui-aside__menu.el-menu .el-submenu.is-opened,
.aui-aside--dark.aui-aside--top .aui-aside__menu.el-menu .el-submenu.is-opened .el-menu {
    background-color: #313c42;
}

.aui-aside--dark .aui-aside__menu.el-menu .el-menu-item.is-active,
.aui-aside--dark .aui-aside__menu.el-menu .el-submenu.is-active > .el-submenu__title,
.aui-aside--dark .aui-aside__menu.el-menu > .el-submenu.is-opened > .el-submenu__title,
.aui-aside--dark.aui-aside--top .aui-aside__menu.el-menu .el-menu-item.is-active,
.aui-aside--dark.aui-aside--top .aui-aside__menu.el-menu .el-submenu.is-active > .el-submenu__title,
.aui-aside--dark.aui-aside--top .aui-aside__menu.el-menu > .el-submenu.is-opened > .el-submenu__title {
    color: #fff;
}

.aui-aside--fixed .aui-header__hd,
.aui-aside--fixed .aui-aside {
    position: fixed;
}

.aui-aside--fold .aui-header {
    padding-left: 60px;
}

.aui-aside--fold .aui-header__hd,
.aui-aside--fold .aui-header .aui-brand {
    width: 60px;
}

.aui-aside--fold .aui-header .aui-brand--lg {
    display: none;
}

.aui-aside--fold .aui-header .aui-brand--sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.aui-aside--fold .aui-header__icon-menu--rz180 {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.aui-aside--fold .aui-aside,
.aui-aside--fold .aui-aside__menu.el-menu {
    width: 60px;
}

.aui-aside--fold .aui-aside__inner {
    width: 80px;
}

.aui-aside--fold .aui-aside__menu.el-menu > .el-menu-item > .aui-aside__menu-icon,
.aui-aside--fold .aui-aside__menu.el-menu > .el-menu-item > .el-tooltip > .aui-aside__menu-icon,
.aui-aside--fold .aui-aside__menu.el-menu > .el-submenu > .el-submenu__title > .aui-aside__menu-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 0;
    font-size: 18px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.aui-aside--fold .aui-main {
    margin-left: 60px;
}

.aui-aside--fold .aui-footer {
    margin-left: 60px;
}

.aui-aside--top.aui-wrapper {
    padding-top: 92px;
}

.aui-aside--top .aui-header {
    padding-left: 0;
}

.aui-aside--top .aui-header__hd {
    position: relative;
    width: auto;
    padding: 0 15px;
}

.aui-aside--top .aui-brand {
    width: auto;
}

.aui-aside--top .aui-aside {
    right: 0;
    bottom: auto;
    width: auto;
    height: 42px;
    padding: 0 15px;
    overflow: initial;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

.aui-aside--top .aui-aside__inner {
    width: auto;
    padding-bottom: 0;
    overflow: initial;
}

.aui-aside--top .aui-aside__menu.el-menu {
    width: auto;
    border-bottom: 0 !important;
}

.aui-aside--top .aui-aside__menu.el-menu .el-menu-item,
.aui-aside--top .aui-aside__menu.el-menu .el-submenu .el-submenu__title {
    height: 42px;
    padding: 0 15px;
    line-height: 42px;
    border-bottom: 0 !important;
}

.aui-aside--top .aui-aside__menu.el-menu .el-menu-item.is-active,
.aui-aside--top .aui-aside__menu.el-menu .el-submenu.is-active,
.aui-aside--top .aui-aside__menu.el-menu .el-submenu.is-active .el-menu,
.aui-aside--top .aui-aside__menu.el-menu .el-submenu.is-opened,
.aui-aside--top .aui-aside__menu.el-menu .el-submenu.is-opened .el-menu {
    background-color: #fff;
}

.aui-aside--top .aui-aside__menu.el-menu .el-submenu > .el-menu--horizontal {
    position: absolute !important;
}

.aui-aside--top .aui-aside__menu.el-menu > .el-submenu > .el-menu--horizontal {
    left: 0 !important;
}

.aui-aside--top .aui-aside__menu.el-menu > .el-submenu > .el-menu--horizontal,
.aui-aside--top .aui-aside__menu.el-menu > .el-submenu > .el-menu--horizontal > .el-menu,
.aui-aside--top .aui-aside__menu.el-menu > .el-submenu > .el-menu--horizontal > .el-menu > .el-menu-item {
    min-width: 100%;
}

.aui-aside--top .aui-aside__menu.el-menu .el-submenu__icon-arrow {
    margin-top: 0;
}

.aui-aside--top .aui-main {
    margin-left: 0;
}

.aui-aside--top .aui-main__hd {
    padding: 20px 15px 5px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.aui-aside--top.aui-header--white .aui-header__hd {
    background-color: #fff;
}

/* -------------------------- control-panel --------------------------*/
.aui-control {
    position: absolute;
    top: 50px;
    right: -210px;
    bottom: 0;
    z-index: 1020;
    width: 210px;
    background-color: #fff;
    -webkit-transition: right .3s;
    transition: right .3s;
}

.aui-control__inner {
    position: relative;
    z-index: 1;
    width: 230px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.aui-control__bd {
    width: 210px;
    padding: 5px 20px 20px;
}

.aui-control .aui-tabs.el-tabs {
    margin: -5px -20px -20px;
}

.aui-control .aui-tabs.el-tabs .el-tabs__content {
    padding: 0 15px 15px;
}

.aui-control__setting {
    margin: 0;
}

.aui-control__setting > dt {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 900;
}

.aui-control__setting > dd {
    margin-top: 10px;
    margin-left: 1em;
}

.aui-control__setting + .aui-control__setting {
    margin-top: 15px;
    border-top: 1px solid #ebeef5;
}

.aui-control--fixed .aui-control {
    position: fixed;
}

.aui-control--fixed.aui-control--open .aui-main {
    margin-right: 0;
}

.aui-control--fixed.aui-control--open .aui-footer {
    margin-right: 0;
}

.aui-control--fixed.aui-control--open.aui-aside--top .aui-aside {
    right: 0;
}

.aui-control--open .aui-control {
    right: 0;
    -webkit-box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.05);
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.05);
}

.aui-control--open .aui-main {
    margin-right: 210px;
}

.aui-control--open .aui-footer {
    margin-right: 210px;
}

.aui-control--open.aui-aside--top .aui-aside {
    right: 210px;
}


/* -------------------------- tabs --------------------------*/
.aui-tabs.el-tabs {
    position: relative;
}

.aui-tabs.el-tabs > .el-tabs__header {
    margin-bottom: 0;
}

.aui-tabs.el-tabs > .el-tabs__header > .el-tabs__nav-wrap {
    margin-bottom: 0;
}

.aui-tabs.el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-next,
.aui-tabs.el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-prev {
    line-height: 38px;
}

.aui-tabs.el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__active-bar {
    display: none;
}

.aui-tabs.el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item {
    padding: 0 15px;
    vertical-align: inherit;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.aui-tabs.el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item.is-active:after {
    left: 0;
    width: 100%;
}

.aui-tabs.el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item > .icon-svg {
    font-size: 16px;
}

.aui-tabs.el-tabs > .el-tabs__content {
    padding: 15px;
}

.aui-tabs--flex.el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: center;
}

.aui-tabs--flex.el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
