.mg-15 {
    margin: 15px;
}

.mg-t-15 {
    margin-top: 15px;
}

.mg-b-15 {
    margin-bottom: 15px;
}

.mg-l-15 {
    margin-left: 15px;
}

.mg-l-25 {
    margin-left: 25px;
}

.mg-r-15 {
    margin-right: 15px;
}



