<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>菜单管理</title>

    <th:block th:include="~{fragments::head-css}"></th:block>
    <!--<link rel="stylesheet" th:href="@{/libs/zTree/3.5/css/awesomeStyle/awesome.css}">-->
    <link rel="stylesheet" th:href="@{/libs/zTree/3.5/css/metroStyle/metroStyle.css}">
    <!--<link rel="stylesheet" th:href="@{/libs/zTree/3.5/css/zTreeStyle/zTreeStyle.css}">-->

</head>
<body>
<!-- 固定头部 -->
<th:block th:include="~{fragments::top-nav}"/>

<!-- 左侧菜单 -->
<th:block th:include="~{fragments::left-menu}"/>

<!-- 主页面 -->
<div th:with="emptyResult=${#lists.isEmpty(result)}" class="main col-sm-18 col-sm-offset-6 col-md-20 col-md-offset-4">
    <!--/* <div th:with="emptyResult=${#lists.isEmpty(result)}" class="col-sm-24"> */-->

    <!-- 导航条 -->
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
            <li class="active">系统管理</li>
            <li class="active">菜单管理</li>
        </ol>
    </div>

    <div class="panel panel-default table-responsive">
        <!-- 数据操作 -->
        <div class="panel-heading">
            <button id="data-add" class="btn btn-sm btn-success">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;增加
            </button>
            <button th:if="!${emptyResult}" id="data-del" class="btn btn-sm btn-danger">
                <i class="fa fa-trash-o"></i>&nbsp;&nbsp;删除
            </button>
            <button th:if="!${emptyResult}" id="data-update" class="btn btn-sm btn-info">
                <i class="fa fa-pencil"></i>&nbsp;&nbsp;修改
            </button>
            <button th:if="!${emptyResult}" id="data-move" class="btn btn-sm btn-primary">
                <i class="fa fa-random"></i>&nbsp;&nbsp;移动
            </button>
            <button th:if="!${emptyResult}"  id="data-move-up" class="btn btn-sm btn-success">
                <i class="fa fa-chevron-up"></i>&nbsp;&nbsp;上移
            </button>
            <button th:if="!${emptyResult}"  id="data-move-down" class="btn btn-sm btn-info">
                <i class="fa fa-chevron-down"></i>&nbsp;&nbsp;下移
            </button>
            <a th:if="${menuVo.parentId} != null" th:href="@{'/plugin/menu/back/'+${menuVo.parentId}}"
               class="btn btn-sm btn-warning">
                <i class="fa fa-reply"></i>&nbsp;&nbsp;返回上级
            </a>
        </div>

        <!-- 数据展示 -->
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="text-center">
                    <input class="check-all" type="checkbox">
                </th>
                <!--<th>行号</th>-->
                <th>编码</th>
                <th>名称</th>
                <th>图标</th>
                <th>URL</th>
                <th>类型</th>
                <th>状态</th>
                <th>备注</th>
            </tr>
            </thead>

            <tbody>
            <tr th:if="!${emptyResult}" th:each="item : ${result}">
                <td class="text-center">
                    <input class="check-ls" name="ids" type="checkbox" th:value="${item.menuId}">
                </td>
                <!--<td th:text="${itemStat.count}"></td>-->
                <td>
                    <a th:href="@{'/plugin/menu/'+${item.menuId}+'/child'}" th:text="${item.menuCode}"></a>
                </td>
                <td th:text="${item.menuName}"></td>
                <td th:text="${item.menuIcon}"></td>
                <td th:text="${item.menuUrl}"></td>
                <td th:text="${item.menuTypeStr}"></td>
                <td th:class="${item.enable}?'text-success':'text-danger'">
                    <i class="fa fa-circle"></i>&nbsp;
                    <span th:text="${item.enable}?启用:禁用"></span>
                </td>
                <td th:text="${item.memo}"></td>
            </tr>
            <tr th:if="${emptyResult}">
                <td colspan="9">
                    <div class="no-data text-center">
                        <span><i class="fa fa-info-circle fa-1g"></i>&nbsp;&nbsp;没有数据</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- 分页条 -->
    <div th:if="!${emptyResult}" class="text-center">
        <ul class="pagination">
            <li><a href="#" aria-label="Previous"><span aria-hidden="true">Previous</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div>
</div>

<div id="menu-tree" class="modal-body text-center" style="display: none">
    <ul class="ztree"></ul>
</div>

<script type="text/template" id="edit-tpl">
    <div class="modal-body">
        <form id="form-edit" class="form-horizontal" action="">
            <input type="hidden" name="parentId" th:value="${menuVo.parentId}">
            <input type="hidden" name="menuId" value="${menuId}">
            <div class="form-group">
                <span class="control-label col-sm-6"><i class="text-danger">*&nbsp;</i>菜单编码 :</span>
                <div class="col-sm-16">
                    <input type="text" name="menuCode" value="${menuCode}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-6"><i class="text-danger">*&nbsp;</i>菜单名称 :</span>
                <div class="col-sm-16">
                    <input type="text" name="menuName" value="${menuName}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-6"><i class="text-danger">*&nbsp;</i>菜单图标 :</span>
                <div class="col-sm-16">
                    <input type="text" name="menuIcon" value="${menuIcon}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-6">菜单URL :</span>
                <div class="col-sm-16">
                    <input type="text" name="menuUrl" value="${menuUrl}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-6"><i class="text-danger">*&nbsp;</i>菜单类型 :</span>
                <div class="col-sm-16">
                    <select name="menuType" class="form-control">
                        <option th:each="item:${menuType}" th:value="${item.dictKey}"
                                th:text="${item.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-6"><i class="text-danger">*&nbsp;</i>备注 :</span>
                <div class="col-sm-16">
                    <textarea name="memo" class="form-control" rows="3">${memo}</textarea>
                </div>
            </div>
        </form>
    </div>
</script>


<th:block th:include="~{fragments::bottom-js}"/>
<script th:src="@{/libs/zTree/3.5/js/ztree.all.min.js}"></script>
<script th:src="@{/libs/zTree/3.5/js/ztree.exhide.min.js}"></script>
<script th:src="@{/js/menu.js}"></script>
</body>
</html>