<div>
    <!-- breadcrumb -->
    <nav class="breadcrumb has-background-white px-6 py-2 " aria-label="breadcrumbs">
        <ul>
            <li><a class="has-text-info" href="#">Bulma</a></li>
            <li><a class="has-text-info" href="#">Documentation</a></li>
            <li><a class="has-text-info" href="#">Components</a></li>
            <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
        </ul>
    </nav>

    <div class="main-bd border-b">
        <div class="columns">
            <div class="column is-3">
                <button class="button is-info is-outlined is-light">
                    <i class="ic icadd"></i>
                </button>
            </div>
            <div class="column is-6">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input" type="text" placeholder="Find a liping">
                    </div>
                    <div class="control">
                        <a class="button is-info is-outlined is-light">
                            <i class="ic icsousuo mx-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-bd">
        <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
            <tr class="has-background-light">
                <th>Pos</th>
                <th>Team</th>
                <th>GF</th>
                <th>GA</th>
                <th>GD</th>
                <th>Pts</th>
                <th>Qualification or relegation</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>1</th>
                <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester
                    City</a>
                    <strong>(C)</strong>
                </td>
                <td>68</td>
                <td>36</td>
                <td>+32</td>
                <td>81</td>
                <td>Qualification for the</td>
            </tr>
            <tr>
                <th>2</th>
                <td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C." title="Arsenal F.C.">Arsenal</a></td>
                <td>38</td>
                <td>20</td>
                <td>+29</td>
                <td>71</td>
                <td>Qualification for the</td>
            </tr>
            <tr>
                <th>3</th>
                <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C."
                       title="Tottenham Hotspur F.C.">Tottenham
                    Hotspur</a></td>
                <td>38</td>
                <td>19</td>
                <td>13</td>
                <td>70</td>
                <td>Qualification for the</td>
            </tr>
            <tr>
                <th>4</th>
                <td><a href="https://en.wikipedia.org/wiki/Manchester_City_F.C." title="Manchester City F.C.">Manchester
                    City</a></td>
                <td>38</td>
                <td>19</td>
                <td>+30</td>
                <td>66</td>
                <td>Qualification for the</td>
            </tr>
            <tr>
                <th>5</th>
                <td><a href="https://en.wikipedia.org/wiki/Manchester_United_F.C."
                       title="Manchester United F.C.">Manchester
                    United</a></td>
                <td>38</td>
                <td>35</td>
                <td>+14</td>
                <td>66</td>
                <td>Qualification for the</td>
            </tr>
            <tr>
                <th>6</th>
                <td><a href="https://en.wikipedia.org/wiki/Southampton_F.C."
                       title="Southampton F.C.">Southampton</a>
                </td>
                <td>38</td>
                <td>41</td>
                <td>+18</td>
                <td>63</td>
                <td>Qualification for the</td>
            </tr>
            </tbody>
        </table>

        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </div>
</div>
