<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">

<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="http://at.alicdn.com/t/font_1156831_xn4orqpa3ee.css">
<link rel="stylesheet" href="#(contextPath)/styles/lit-common.css">
<link rel="stylesheet" href="#(contextPath)/libs/element/2.4.5/themes/#(Application.skin??'cyan')/index.css">
<link rel="stylesheet" href="#(contextPath)/styles/themes/aui-#(Application.skin??'cyan').css">
<link id="J_elementTheme" rel="stylesheet">
<link rel="stylesheet" href="#(contextPath)/styles/aui-index.css">
<script type="text/javascript">
    let contextPath = '#(contextPath)'
</script>