<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
<h3>upload-demo</h3>
<hr>
<form id="up-form" th:action="@{/main/upload}" method="post" enctype="multipart/form-data">
    <input type="file" name="fileDemo">
    <input type="text" name="code">
    <input type="text" name="name">
</form>
<button id="up-btn">上传</button>


<script th:src="@{/libs/jquery/3.2.0/jquery-3.2.0.slim.js}"></script>
<script>
    $(function () {
        $('#up-btn').on('click', function (e) {
           $('#up-form').submit();
        });
    });
</script>
</body>
</html>