<!DOCTYPE html>
<html lang="en">
<head>
    <title>首页</title>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1156831_xn4orqpa3ee.css">
    <link rel="stylesheet" href="#(contextPath)/styles/lit-common.css">
    <link rel="stylesheet" href="#(contextPath)/libs/element/2.11.1/themes/#(theme??'cyan').css">
    <link rel="stylesheet" href="#(contextPath)/styles/themes/aui-#(theme??'cyan').css">
    <link id="J_elementTheme" rel="stylesheet">
    <link rel="stylesheet" href="#(contextPath)/styles/aui-index.css">
    <script type="text/javascript">
        // let cdnHost= 'https://liulus.github.io/static';
        // let cdnHost= 'https://ilu.coding.me/repository';
        let cdnHost= '/libs';
        let contextPath = '#(contextPath)'
        let pluginRouteText = '#(pluginRoutes??)'
        let singlePage = true
    </script>
</head>
<body>
<div id="app" v-cloak>
    <button></button>
    <router-view></router-view>
</div>

<!--<script src="https://liulus.github.io/static/requirejs/2.3.6/require.min.js"></script>-->
<script src="https://ilu.coding.me/repository/requirejs/2.3.6/require.min.js"></script>
<script src="http://liulus.gitee.io/blog/requirejs/2.3.6/require.min.js"></script>
<!-- 面包屑 -->
<script type="text/html" id="app-breadcrumb-template">
    <!--<div></div>-->
    <div class="aui-main__hd">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item>
                <i class="ic ichome"></i>
            </el-breadcrumb-item>
            <el-breadcrumb-item v-if="title">{{title}}</el-breadcrumb-item>
            <template v-if="titles" v-for="item in titles">
                <el-breadcrumb-item>{{item}}</el-breadcrumb-item>
            </template>
        </el-breadcrumb>
    </div>
</script>
<script>
    require.config({
        baseUrl: contextPath,
        // urlArgs: 'v=' + (window.APP_CONFIG.env === 'dev' ? new Date().getTime() : window.APP_CONFIG.version),
        waitSeconds: 0,
        paths: {
            vue: cdnHost + '/vue/2.6.10/vue',
            vueRouter: cdnHost + '/vue-router/3.0.6/vue-router.min',
            ELEMENT: cdnHost + '/element/2.11.1/index',
            text: 'https://cdn.bootcss.com/require-text/2.0.12/text.min',
            Lit: '/libs/lit-common',
            // vue: (window.APP_CONFIG.env === 'dev' ? 'assets/libs/vue-2.5.17/vue' : 'assets/libs/vue-2.5.17/vue.min'),
            'vue-i18n': 'assets/libs/vue-i18n-8.1.0/vue-i18n.min',
        }
    })

    // 定义延迟加载模块
    define('asyncImport', ['require'], function (require) {
        return function (dep) {
            return function () {
                return new Promise(function (resolve, reject) {
                    require(Array.isArray(dep) ? dep : [dep], function (res) {
                        resolve(res)
                    })
                })
            }
        }
    })

    require(['vue', 'ELEMENT', 'vueRouter', 'asyncImport'], function (Vue, ELEMENT, vueRouter, _import) {
        Vue.use(ELEMENT, {size: 'medium '})
        Vue.use(vueRouter);

        Vue.component('app-breadcrumb', {
            template: '#app-breadcrumb-template',
            props: {title: String, titles: Array}
        })
        Vue.component('app-main', {template: '<i></i>'})

        // 模块路由
        let moduleRoutes = {
            name: 'index',
            path: '',
            component: _import('/views/layout-admin.js'),
            redirect: {name: 'home'}
        }
        let pluginRoute = JSON.parse(pluginRouteText);
        let pluginRouteArray = Array.isArray(pluginRoute) ? pluginRoute : [pluginRoute]
        pluginRouteArray.forEach(route => {
            route.component = _import(route.component)
        })
        moduleRoutes.children = pluginRouteArray

        window.vm = new Vue({
            router: new vueRouter({routes: [moduleRoutes]}),
        }).$mount('#app')
    })

    function redirect(url) {
        window.vm.$router.push(url)
    }
</script>

</body>
</html>
